body {
  padding-top: 70px;
}

.carousel-item {
  max-height: 80vh;
  min-height: 20vh;
  width: 100%;
  position: relative;
  background-position: center;
  text-align: center;
}
.w-100 {
  max-width: 100% !important;
}
.nav-link:hover,
.nav-link:focus {
  color: #a0ca0a;
}

a:hover {
  color: #ca0a0a;
}
