@import "style_layout.css";

* {
  box-sizing: border-box;
}

body{
  padding-top:80px;
  overflow-x: hidden;
  height: 100vh;
}

body,
p {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;

}
.carousel-item {
  height: 900px;
  color: #efefef;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  .carousel .carousel-item {
    height: 750px;
  }
}

@media (max-width: 575px) {
  .carousel .carousel-item {
    height: 650px;
  }
}


.w-100 {
  max-width: 100% !important;
}


section{
  /* margin-top: 5rem; */
  margin-bottom: 5rem;

}

.btn-blank{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-radius: 90px;
}
.section-padding {
  margin: 100px 0;
  position: relative;
}
.cardDiv {
 width: max(500px);
 position: relative;
}
@media (max-width: 990px) {
  .cardDiv {
    margin-bottom: 2rem;
   }
}
.shadow-behind{
  top:40%; 
  left:60%;
  z-index: -100;
}


#scrollToTopBtn{
  visibility: hidden;
  position: fixed;
  border: 3px #07041f solid; 
  bottom: 3rem; 
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 90px;
  z-index: 300;
}
@media (min-width: 576px) {
  #scrollToTopBtn{
    right: 28px;
  }
}
@media (min-width: 1200px) {
  #scrollToTopBtn{
    right: 40px;
  }
}
@media (min-width: 1400px) {
  #scrollToTopBtn{
    right: 50px;
  }
}
@media (max-width: 576px) {
  #scrollToTopBtn{
    right: 10px;
  }
}

@media (min-width: 768px) {
  .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #63b2e3;
  }
  .hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -18px;
  left: 0;
  background-color: #63b2e3;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
  }

}


.pricing-list {
  height: 60px;
	font-family: sans-serif;
  text-align: center;
}
.pricing-list-elem{
  height: 60px;
  display: block;
  white-space: pre;

  background-color:#E39463;
  line-height: 60px;
  margin-right: 10px;
  margin-left: 10px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 15px 3px #07041f ;
  z-index: 100 ;
}

.pricing-list a {
	text-decoration:none;
}

.pricing-list .active {
background-color: #63b2e3  ;
}

.pricing-list-description{
  position: relative;
  top:-1px;
  z-index: 100;
}

.pricing-list::after{
  content: '';
  position: relative;
  width: 100%;
  bottom: -0px;
  left: 0;
  height: 1px;
  background-color: #cbe5f6 ;
  box-shadow: 0 0 10px 3px #221e52  ;
  z-index: -100;
}
